<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lab9questionmark"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="32" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:debuggable="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:testOnly="true"
        android:theme="@style/Theme.Lab9Questionmark" >
        <activity
            android:name="com.example.lab9questionmark.viewExams"
            android:exported="false" />
        <activity
            android:name="com.example.lab9questionmark.MainScreen"
            android:banner="@drawable/app_icon_your_company"
            android:exported="false"
            android:icon="@drawable/app_icon_your_company"
            android:label="@string/title_activity_main_screen"
            android:logo="@drawable/app_icon_your_company"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.Lab9Questionmark.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.lab9questionmark.DetailsActivity"
            android:exported="false" />
        <activity
            android:name="com.example.lab9questionmark.PlaybackActivity"
            android:exported="false" />
        <activity
            android:name="com.example.lab9questionmark.BrowseErrorActivity"
            android:exported="false" />
        <activity
            android:name="com.example.lab9questionmark.MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>